extends layout

block content
  h1= title

  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let vegetableid = toShow._id
    - let vegetable_name = toShow.name
    - let vegetablecolor = toShow.color
    - let vegetableweight = toShow.weight
    - let actionid = "/resource/vegetable/" + vegetableid

    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='vegetableAttr mr-3') vegetable ID is: 
        div #{vegetableid}  
        div(class='vegetableAttr mr-3') vegetable name is: 
        div #{vegetable_name}
        div(class='vegetableAttr mr-3') vegetable color is:  
        div #{vegetablecolor} 
        div(class='vegetableAttr mr-3') vegetable weight is:  
        div #{vegetableweight}
        
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="window.location.href='/vegetable'") Cancel 

  script. 
    function cancel() { 
      // Go back to the home page for the vegetable collection 
      window.location.href='/vegetable' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'     
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/vegetable' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 

  